@import url("./css/reset.css");

/* Root CSS */

.root-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  font-weight: bold;
  height: 100vh;
}

.menu-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: darkgray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.menu-login-flex {
  display: flex;
  align-items: center;
}

.menu-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 10px;
  border: 2px solid lightgray;
}

.root-flex {
  display: flex;
  justify-content: space-between;
  max-height: 100%;
  min-height: 100vh;
  margin-top: 70px;
}

.root-outlet-width {
  width: 85%;
  max-height: 100%;
  min-height: 100vh;
  border: 1px solid black;
  padding: 20px;
  margin-left: 15vw;
}

.root-side-width {
  width: 15%;
  height: 100vh;
  border: 1px solid black;
  position: fixed;
  left: 0;
  overflow-y: scroll;
}

.test {
  background-color: red;
}

.active {
  background-color: lightgray;
}
